<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Here you can easily check the calender.">
    <meta name="author" content="Yining Gao">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <title>Kalender</title>

    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    
</head>
<body>
    <div id="wholeCalender" class="whole-css">

        <!-- Jahr-Monat search Feld -->
        <div id="search-feld">
            <form name="search-feld-form">
                Jahr: <input v-model="inputJahr" class="button-style" type="text" class="inputText" id="jahr-input" placeholder="Year's Num" maxlength="4"  />
                Monat: <input v-model="inputMonth" class="button-style" type="text" class="inputText" id="monat-input" placeholder="1 - 12" maxlength="2"  required/>
                <input @click="searchClick" class="button-style" type="button" id="search-button" value="search">
            </form>
            
        </div>
    
        <div id="Calender">     
            <!--Es zeigt aktuelle Monats und das gewünschte Monat auswählen.-->
            <div id="actual-date-list">                
                <strong id="actual-year-month">{{actualDatum}}</strong>
            </div>

            <div id="wochentag-div" >         
                <ul class="wochentag" class="whole-css">               
                    <li class="week-item" v-for="(item,index) in weekArr" :key="index">{{item}}</li>                    
                </ul>

                <ul class="data-area">
                    <li class="calender-item" v-for="item in dataArr" >{{item}}</li>
                </ul>
            </div>
 
        </div>

    </div>

    

    <script type="text/javascript">
        const Calender = new Vue({
            el:'#wholeCalender',
            data :{
                inputJahr:'',
                inputMonth:'',
                firstDay: '',
                actualJahrMonth:'',
                monatsArr :["Jän","Feb","Mär","Apr","Mai","Jun","Jul","Aug","Sep","Okt","Nom","Dez"],
                weekArr: ["Mon","Dien","Mit","Donn","Fre","Sam","Sonn"],
                dataArr: [],
                monthDays:''
            },
            methods :{
                searchClick: function(){
                    let dataArr = [];
                    let firstDay = new Date(this.inputJahr,this.inputMonth-1,1).getDay();

                    let monthDays = new Date(this.inputJahr, this.inputMonth,0).getDate();      
                    
                    if( firstDay==0){
                        firstDay = 7;
                    } 

                    for(let i=1;i<firstDay;i++){  
                        dataArr.push(' ')
                    }

                    for(let y=0;y<monthDays;y++){
                        dataArr.push(y+1);
                    }

                    this.dataArr=dataArr;
                    this.monthDays=monthDays;
                    return monthDays
                }
            },
            computed: {
                actualDatum:function(){
                    actualJahrMonth = this.inputJahr + '-' + this.monatsArr[this.inputMonth-1];
                    return actualJahrMonth
                }   
            }
        })

    </script>

</body>
</html>